<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource]) do |f| %>
  <% if page.resource.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert"></button>
      <%= t("administrate.form.errors",
            pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
            resource_name: display_resource_name(page.resource_name)
          ) %>
    </div>

    <% page.resource.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"></button>
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <% page.attributes.each do |attribute| -%>
    <%= render_field attribute, f: f %>
  <% end -%>

  <div class="from-flex-group form-group row">
    <label class="col-sm-3 col-form-label text-right"></label>
    <div class="col-sm-2">
      <%= f.submit class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
