<%#
# Index

This view is the template for the index page.
It is responsible for rendering the search bar, header and pagination.
It renders the `_table` partial to display details about the resources.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Collection][1].
  Contains helper methods to help display a table,
  and knows which attributes should be displayed in the resource's table.
- `resources`:
  An instance of `ActiveRecord::Relation` containing the resources
  that match the user's search criteria.
  By default, these resources are passed to the table partial to be displayed.
- `search_term`:
  A string containing the term the user has searched for, if any.
- `show_search_bar`:
  A boolean that determines if the search bar should be shown.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<div class="row row-cards row-deck">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= content_for(:title) %>
        </h4>

        <% if show_search_bar %>
          <%= render(
                  "search",
                  search_term: search_term,
                  resource_name: display_resource_name(page.resource_name)
              ) %>
        <% end %>

        <%= link_to(
                t(
                    "administrate.actions.new_resource",
                    name: page.resource_name.titleize.camelize
                ),
                [:new, namespace, page.resource_path],
                class: "btn btn-link ml-auto",
                ) if valid_action?(:new) && show_action?(:new, new_resource) %>

      </div>

      <div class="table-responsive">
        <%= render(
                "collection",
                collection_presenter: page,
                collection_field_name: resource_name,
                page: page,
                resources: resources,
                table_title: "page-title"
            ) %>

        <%= paginate resources %>
      </div>
    </div>
  </div>
</div>
