<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<div class="row row-cards row-deck">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= content_for(:title) %>
        </h4>
        <%= link_to(
                t("administrate.actions.edit_resource", name: page.page_title),
                [:edit, namespace, page.resource],
                class: "btn btn-link ml-auto",
                ) if valid_action?(:edit) && show_action?(:edit, page.resource)
        %>
      </div>

      <div class="card-body">
        <% page.attributes.each do |attribute| %>
          <div class="from-flex-group form-group row">
            <label class="col-sm-3 col-form-label text-right" id="<%= page.resource_name %> - <%= attribute.name %> - <%= attribute.html_class %>">
              <%= t(
                      "helpers.label.#{resource_name}.#{attribute.name}",
                      default: attribute.name.titleize,
                      ) %>
            </label>
            <%= render_field attribute, page: page %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>